In [1]:
import pandas as pd
import psycopg2
from secret_info import master_username,master_password,database_name,port as p,url

In [2]:
def fetch_data_from_rds(endpoint, database, user, password,port,query):
    """Connect to PostgreSQL database and fetch data."""
    conn = psycopg2.connect(
        host=endpoint,
        database=database,
        user=user,
        password=password,
        port = port
    )    
    # Using pandas to run SQL and load result into DataFrame
    df = pd.read_sql(query, conn)
    df = pd.DataFrame(df)
    # Close the connection
    conn.close()
    return df

In [3]:
# Your RDS details
endpoint = url
database = database_name
user = master_username
password = master_password
port = p

# Your SQL query
query = "SELECT * FROM test LIMIT 5;"

df = fetch_data_from_rds(endpoint, database, user, password,port,query)
print(df)

   id project    member  awesome
0   1   Final      Araz     True
1   2   Final       Yat     True
2   3   Final  Patricia     True
3   4   Final    Robert     True
4   5   Final   Charlie     True

C:\Users\robba\AppData\Local\Temp\ipykernel_8328\3244071168.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [4]:
# Your RDS details
endpoint = url
database = database_name
user = master_username
password = master_password
port = p

# Your SQL query
query = "SELECT * FROM health_and_air_2010_2019;"

df = fetch_data_from_rds(endpoint, database, user, password,port,query)
df.tail()

C:\Users\robba\AppData\Local\Temp\ipykernel_8328\3244071168.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,Location,Code,Year,Death from household air pollution from solid fuels,Death from ambient particulate matter pollution,Death from all causes attributed to air pollution,Death from ambient ozone pollution,DALYs attributed to air pollution,DALYs attributed to household air pollution,DALYs attributed ambient particulate matter pollution,PM 2.5 Airpollution,Value
1945,Zimbabwe,ZWE,2015,143.47795,38.99684,183.04463,1.09122,653410.94,520155.28,132720.83,15.13,15.13 [7.18 – 28.7]
1946,Zimbabwe,ZWE,2016,140.64325,37.586,179.06064,1.2315396,641920.2,512118.97,128623.75,14.99,14.99 [7.19 – 28.19]
1947,Zimbabwe,ZWE,2017,137.44838,35.811024,174.04881,1.4475582,625386.4,501662.5,122945.07,15.09,15.09 [7.19 – 28.55]
1948,Zimbabwe,ZWE,2018,133.92303,34.932823,169.53406,1.4073888,609545.3,488932.9,120112.45,14.98,14.98 [7.22 – 28.13]
1949,Zimbabwe,ZWE,2019,130.5083,34.4046,165.7244,1.4359336,600330.0,480041.84,119444.164,15.01,15.01 [7.2 – 28.24]

In [5]:
df.tail(1)

,Location,Code,Year,Death from household air pollution from solid fuels,Death from ambient particulate matter pollution,Death from all causes attributed to air pollution,Death from ambient ozone pollution,DALYs attributed to air pollution,DALYs attributed to household air pollution,DALYs attributed ambient particulate matter pollution,PM 2.5 Airpollution,Value
1949,Zimbabwe,ZWE,2019,130.5083,34.4046,165.7244,1.4359336,600330.0,480041.84,119444.164,15.01,15.01 [7.2 – 28.24]

In [11]:
x = df.loc[0]["Death from household air pollution from solid fuels"]

In [7]:
type(x)

str

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
# Extract the main value from "Value" column and convert to float
df['Value'] = df['Value'].str.split(' ').str[0].astype(float)

# Convert all columns to float except 'Location', 'Code', 'Year' and round to 2 decimals
for column in df.columns:
    if column not in ['Location', 'Code', 'Year']:
        df[column] = df[column].astype(float).round(2)

In [12]:
x = df.loc[0]["Death from household air pollution from solid fuels"]
type(x)

numpy.float64

In [13]:
df['Value']

0       92.79
1       89.57
2       92.04
3       97.49
4       91.92
        ...
1945    15.13
1946    14.99
1947    15.09
1948    14.98
1949    15.01
Name: Value, Length: 1950, dtype: float64