# Cleaning dataset: Air Quality Database

Source: WHO Air Quality Database 2023, version 6.0
Local filename: WHO_annual_mean_pm25.csv

Concentrations of fine particulate matter (PM2.5) of all countries from 2011 - 2019
Mean values and range[min, max]

In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('WHO_,annual_mean_pm25.csv')
df.head()

,Unnamed: 0,Concentrations of fine particulate matter (PM2.5),Concentrations of fine particulate matter (PM2.5).1,Concentrations of fine particulate matter (PM2.5).2,Concentrations of fine particulate matter (PM2.5).3,Concentrations of fine particulate matter (PM2.5).4,Concentrations of fine particulate matter (PM2.5).5,Concentrations of fine particulate matter (PM2.5).6,Concentrations of fine particulate matter (PM2.5).7,Concentrations of fine particulate matter (PM2.5).8,...,Concentrations of fine particulate matter (PM2.5).40,Concentrations of fine particulate matter (PM2.5).41,Concentrations of fine particulate matter (PM2.5).42,Concentrations of fine particulate matter (PM2.5).43,Concentrations of fine particulate matter (PM2.5).44,Concentrations of fine particulate matter (PM2.5).45,Concentrations of fine particulate matter (PM2.5).46,Concentrations of fine particulate matter (PM2.5).47,Concentrations of fine particulate matter (PM2.5).48,Concentrations of fine particulate matter (PM2.5).49
0,NaN,2019,2019,2019,2019,2019,2018,2018,2018,2018,...,2011,2011,2011,2011,2011,2010,2010,2010,2010,2010
1,"Countries, territories and areas",Total,Urban,Rural,Cities,Towns,Total,Urban,Rural,Cities,...,Total,Urban,Rural,Cities,Towns,Total,Urban,Rural,Cities,Towns
2,Afghanistan,62.49 [45.04-86.46],75.19 [53.87-102.87],56.00 [39.42-77.13],84.04 [60.77-114.90],62.47 [44.97-86.91],70.25 [50.62-97.15],83.50 [60.10-113.39],63.50 [44.48-87.48],92.57 [67.33-126.55],...,66.94 [48.90-92.62],80.45 [57.67-110.73],60.11 [42.82-83.13],89.57 [64.75-122.95],67.72 [48.37-93.74],68.97 [49.48-96.51],83.13 [60.37-117.80],61.81 [42.68-87.77],92.79 [66.17-128.44],69.67 [48.91-98.81]
3,Albania,16.28 [14.73-18.21],16.58 [14.98-18.62],15.65 [14.01-17.67],16.70 [15.03-18.80],16.40 [14.49-18.62],19.76 [17.97-21.90],20.09 [18.27-22.30],19.07 [17.04-21.34],20.18 [18.22-22.49],...,23.00 [20.57-25.75],23.39 [21.23-25.95],22.34 [19.81-25.13],23.41 [21.01-26.05],23.38 [20.55-26.56],21.95 [19.82-24.69],22.30 [20.33-24.90],21.38 [19.01-23.96],22.24 [20.06-24.82],22.37 [19.72-25.35]
4,Algeria,22.68 [14.54-35.29],22.85 [14.51-35.46],22.38 [14.20-35.42],23.75 [14.80-36.27],21.74 [13.85-34.38],22.73 [14.57-35.30],22.84 [14.50-35.44],22.53 [14.26-35.63],23.74 [14.81-36.26],...,21.56 [14.03-33.06],21.43 [13.98-32.79],21.78 [14.00-34.19],22.08 [14.33-33.19],20.68 [13.42-32.34],21.27 [13.92-32.39],21.02 [13.83-32.06],21.72 [13.97-34.12],21.67 [14.19-32.69],20.29 [13.28-31.53]

### Make a new table with only total values

In [81]:
df_total = df
df_total = df_total.iloc[:, [0, 1, 6, 11, 16, 21, 26, 31, 36, 41, 46]]
df_total

,Unnamed: 0,Concentrations of fine particulate matter (PM2.5),Concentrations of fine particulate matter (PM2.5).5,Concentrations of fine particulate matter (PM2.5).10,Concentrations of fine particulate matter (PM2.5).15,Concentrations of fine particulate matter (PM2.5).20,Concentrations of fine particulate matter (PM2.5).25,Concentrations of fine particulate matter (PM2.5).30,Concentrations of fine particulate matter (PM2.5).35,Concentrations of fine particulate matter (PM2.5).40,Concentrations of fine particulate matter (PM2.5).45
0,NaN,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
1,"Countries, territories and areas",Total,Total,Total,Total,Total,Total,Total,Total,Total,Total
2,Afghanistan,62.49 [45.04-86.46],70.25 [50.62-97.15],61.78 [44.81-85.24],64.00 [46.01-87.23],67.20 [49.05-92.67],68.06 [49.36-93.43],72.18 [52.57-99.67],68.26 [49.60-94.02],66.94 [48.90-92.62],68.97 [49.48-96.51]
3,Albania,16.28 [14.73-18.21],19.76 [17.97-21.90],19.01 [17.22-21.12],18.15 [16.42-20.18],18.98 [17.17-21.23],19.13 [17.34-21.32],19.77 [17.95-22.19],21.70 [19.51-24.28],23.00 [20.57-25.75],21.95 [19.82-24.69]
4,Algeria,22.68 [14.54-35.29],22.73 [14.57-35.30],23.33 [14.84-36.41],23.06 [14.73-35.92],22.49 [14.46-34.91],22.64 [14.54-35.12],21.19 [13.87-32.32],22.76 [14.57-35.60],21.56 [14.03-33.06],21.27 [13.92-32.39]
...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic of),16.21 [11.55-21.76],17.06 [12.50-22.84],18.71 [13.71-25.61],19.65 [14.06-26.59],20.12 [14.42-27.06],19.84 [14.56-26.04],21.00 [15.35-28.55],19.87 [14.90-26.76],20.71 [15.08-27.27],20.67 [14.60-28.32]
193,Viet Nam,20.89 [16.58-24.31],20.09 [16.58-23.39],20.10 [16.27-23.82],22.37 [17.96-26.83],20.47 [16.11-24.56],20.08 [16.06-23.84],22.62 [18.21-26.61],21.67 [17.44-25.63],20.67 [16.31-24.56],22.37 [16.93-27.87]
194,Yemen,41.61 [14.40-85.18],41.62 [14.37-85.36],41.32 [14.26-84.71],39.91 [13.91-80.68],41.06 [14.20-84.02],38.27 [13.57-75.95],41.02 [14.21-83.75],42.49 [14.59-87.92],41.03 [14.20-83.84],38.83 [13.65-77.63]
195,Zambia,16.90 [7.65-31.61],16.99 [7.65-31.83],16.99 [7.66-31.85],17.32 [7.70-32.70],17.43 [7.75-32.99],17.29 [7.70-32.68],17.24 [7.68-32.52],17.55 [7.80-33.31],17.33 [7.71-32.70],17.09 [7.63-32.11]
196,Zimbabwe,13.08 [7.05-22.70],13.12 [7.07-22.79],13.15 [7.08-22.90],13.09 [7.05-22.78],13.27 [7.12-23.39],13.12 [7.07-22.85],13.10 [7.05-22.78],13.21 [7.09-23.25],13.27 [7.11-23.42],13.28 [7.11-23.48]

In [82]:
# Rename column names

new_columns = ['Country','2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010' ]
df_total.columns = new_columns

In [83]:
# Reorder columns to start from 2010-2019

new_column_order = ['Country', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
df_total = df_total[new_column_order]

In [84]:
# Drop top two rows

df_total = df_total.drop(df.index[[0,1]])

df_total

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,Afghanistan,68.97 [49.48-96.51],66.94 [48.90-92.62],68.26 [49.60-94.02],72.18 [52.57-99.67],68.06 [49.36-93.43],67.20 [49.05-92.67],64.00 [46.01-87.23],61.78 [44.81-85.24],70.25 [50.62-97.15],62.49 [45.04-86.46]
3,Albania,21.95 [19.82-24.69],23.00 [20.57-25.75],21.70 [19.51-24.28],19.77 [17.95-22.19],19.13 [17.34-21.32],18.98 [17.17-21.23],18.15 [16.42-20.18],19.01 [17.22-21.12],19.76 [17.97-21.90],16.28 [14.73-18.21]
4,Algeria,21.27 [13.92-32.39],21.56 [14.03-33.06],22.76 [14.57-35.60],21.19 [13.87-32.32],22.64 [14.54-35.12],22.49 [14.46-34.91],23.06 [14.73-35.92],23.33 [14.84-36.41],22.73 [14.57-35.30],22.68 [14.54-35.29]
5,Andorra,11.43 [10.07-13.43],11.66 [10.25-13.69],10.80 [9.44-12.71],10.15 [8.88-11.93],9.35 [8.23-11.04],9.94 [8.72-11.68],9.06 [7.93-10.71],9.31 [8.16-10.97],9.21 [8.08-10.85],8.52 [7.49-10.05]
6,Angola,24.20 [6.17-65.55],24.67 [6.18-67.99],24.01 [6.13-65.45],24.53 [6.11-68.88],24.12 [6.02-68.30],25.03 [6.03-73.14],26.08 [6.01-80.35],25.44 [5.89-78.84],25.85 [5.84-82.46],27.16 [5.85-89.91]
...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic of),20.67 [14.60-28.32],20.71 [15.08-27.27],19.87 [14.90-26.76],21.00 [15.35-28.55],19.84 [14.56-26.04],20.12 [14.42-27.06],19.65 [14.06-26.59],18.71 [13.71-25.61],17.06 [12.50-22.84],16.21 [11.55-21.76]
193,Viet Nam,22.37 [16.93-27.87],20.67 [16.31-24.56],21.67 [17.44-25.63],22.62 [18.21-26.61],20.08 [16.06-23.84],20.47 [16.11-24.56],22.37 [17.96-26.83],20.10 [16.27-23.82],20.09 [16.58-23.39],20.89 [16.58-24.31]
194,Yemen,38.83 [13.65-77.63],41.03 [14.20-83.84],42.49 [14.59-87.92],41.02 [14.21-83.75],38.27 [13.57-75.95],41.06 [14.20-84.02],39.91 [13.91-80.68],41.32 [14.26-84.71],41.62 [14.37-85.36],41.61 [14.40-85.18]
195,Zambia,17.09 [7.63-32.11],17.33 [7.71-32.70],17.55 [7.80-33.31],17.24 [7.68-32.52],17.29 [7.70-32.68],17.43 [7.75-32.99],17.32 [7.70-32.70],16.99 [7.66-31.85],16.99 [7.65-31.83],16.90 [7.65-31.61]
196,Zimbabwe,13.28 [7.11-23.48],13.27 [7.11-23.42],13.21 [7.09-23.25],13.10 [7.05-22.78],13.12 [7.07-22.85],13.27 [7.12-23.39],13.09 [7.05-22.78],13.15 [7.08-22.90],13.12 [7.07-22.79],13.08 [7.05-22.70]

### Add new column 'Continent' for easy grouping

In [85]:
# Use country_converter to assign a Continent to a Country as a new column 
# pip install country_converter

import country_converter as coco

cc = coco.CountryConverter()
df_total['continent'] = df_total['Country'].apply(lambda x: cc.convert(x, to='continent'))
df_total.insert(loc=1, column='Continent', value=df_total['continent'])
df_total = df_total.drop(columns=['continent'])

df_total

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,Afghanistan,Asia,68.97 [49.48-96.51],66.94 [48.90-92.62],68.26 [49.60-94.02],72.18 [52.57-99.67],68.06 [49.36-93.43],67.20 [49.05-92.67],64.00 [46.01-87.23],61.78 [44.81-85.24],70.25 [50.62-97.15],62.49 [45.04-86.46]
3,Albania,Europe,21.95 [19.82-24.69],23.00 [20.57-25.75],21.70 [19.51-24.28],19.77 [17.95-22.19],19.13 [17.34-21.32],18.98 [17.17-21.23],18.15 [16.42-20.18],19.01 [17.22-21.12],19.76 [17.97-21.90],16.28 [14.73-18.21]
4,Algeria,Africa,21.27 [13.92-32.39],21.56 [14.03-33.06],22.76 [14.57-35.60],21.19 [13.87-32.32],22.64 [14.54-35.12],22.49 [14.46-34.91],23.06 [14.73-35.92],23.33 [14.84-36.41],22.73 [14.57-35.30],22.68 [14.54-35.29]
5,Andorra,Europe,11.43 [10.07-13.43],11.66 [10.25-13.69],10.80 [9.44-12.71],10.15 [8.88-11.93],9.35 [8.23-11.04],9.94 [8.72-11.68],9.06 [7.93-10.71],9.31 [8.16-10.97],9.21 [8.08-10.85],8.52 [7.49-10.05]
6,Angola,Africa,24.20 [6.17-65.55],24.67 [6.18-67.99],24.01 [6.13-65.45],24.53 [6.11-68.88],24.12 [6.02-68.30],25.03 [6.03-73.14],26.08 [6.01-80.35],25.44 [5.89-78.84],25.85 [5.84-82.46],27.16 [5.85-89.91]
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic of),America,20.67 [14.60-28.32],20.71 [15.08-27.27],19.87 [14.90-26.76],21.00 [15.35-28.55],19.84 [14.56-26.04],20.12 [14.42-27.06],19.65 [14.06-26.59],18.71 [13.71-25.61],17.06 [12.50-22.84],16.21 [11.55-21.76]
193,Viet Nam,Asia,22.37 [16.93-27.87],20.67 [16.31-24.56],21.67 [17.44-25.63],22.62 [18.21-26.61],20.08 [16.06-23.84],20.47 [16.11-24.56],22.37 [17.96-26.83],20.10 [16.27-23.82],20.09 [16.58-23.39],20.89 [16.58-24.31]
194,Yemen,Asia,38.83 [13.65-77.63],41.03 [14.20-83.84],42.49 [14.59-87.92],41.02 [14.21-83.75],38.27 [13.57-75.95],41.06 [14.20-84.02],39.91 [13.91-80.68],41.32 [14.26-84.71],41.62 [14.37-85.36],41.61 [14.40-85.18]
195,Zambia,Africa,17.09 [7.63-32.11],17.33 [7.71-32.70],17.55 [7.80-33.31],17.24 [7.68-32.52],17.29 [7.70-32.68],17.43 [7.75-32.99],17.32 [7.70-32.70],16.99 [7.66-31.85],16.99 [7.65-31.83],16.90 [7.65-31.61]
196,Zimbabwe,Africa,13.28 [7.11-23.48],13.27 [7.11-23.42],13.21 [7.09-23.25],13.10 [7.05-22.78],13.12 [7.07-22.85],13.27 [7.12-23.39],13.09 [7.05-22.78],13.15 [7.08-22.90],13.12 [7.07-22.79],13.08 [7.05-22.70]

### Use values only (mean)

- remove range [min - max] for now
- can be used later

In [86]:
# New df_mean with mean values only

df_mean = df_total.copy()

columns_to_process = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

for col in columns_to_process:
    df_mean[col] = df_mean[col].str.extract(r'^([\d.]+)')

df_mean

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,Afghanistan,Asia,68.97,66.94,68.26,72.18,68.06,67.20,64.00,61.78,70.25,62.49
3,Albania,Europe,21.95,23.00,21.70,19.77,19.13,18.98,18.15,19.01,19.76,16.28
4,Algeria,Africa,21.27,21.56,22.76,21.19,22.64,22.49,23.06,23.33,22.73,22.68
5,Andorra,Europe,11.43,11.66,10.80,10.15,9.35,9.94,9.06,9.31,9.21,8.52
6,Angola,Africa,24.20,24.67,24.01,24.53,24.12,25.03,26.08,25.44,25.85,27.16
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic of),America,20.67,20.71,19.87,21.00,19.84,20.12,19.65,18.71,17.06,16.21
193,Viet Nam,Asia,22.37,20.67,21.67,22.62,20.08,20.47,22.37,20.10,20.09,20.89
194,Yemen,Asia,38.83,41.03,42.49,41.02,38.27,41.06,39.91,41.32,41.62,41.61
195,Zambia,Africa,17.09,17.33,17.55,17.24,17.29,17.43,17.32,16.99,16.99,16.90
196,Zimbabwe,Africa,13.28,13.27,13.21,13.10,13.12,13.27,13.09,13.15,13.12,13.08

In [88]:
# New df_min with min values only

df_min = df_total.copy()

def extract_min(value):
    start = value.index('[') + 1
    end = value.index('-')
    min_val = float(value[start:end])
    return min_val

columns_to_process = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

for col in columns_to_process:
    df_min[col] = df_min[col].apply(lambda x: extract_min(x))

df_min

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,Afghanistan,Asia,49.48,48.90,49.60,52.57,49.36,49.05,46.01,44.81,50.62,45.04
3,Albania,Europe,19.82,20.57,19.51,17.95,17.34,17.17,16.42,17.22,17.97,14.73
4,Algeria,Africa,13.92,14.03,14.57,13.87,14.54,14.46,14.73,14.84,14.57,14.54
5,Andorra,Europe,10.07,10.25,9.44,8.88,8.23,8.72,7.93,8.16,8.08,7.49
6,Angola,Africa,6.17,6.18,6.13,6.11,6.02,6.03,6.01,5.89,5.84,5.85
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic of),America,14.60,15.08,14.90,15.35,14.56,14.42,14.06,13.71,12.50,11.55
193,Viet Nam,Asia,16.93,16.31,17.44,18.21,16.06,16.11,17.96,16.27,16.58,16.58
194,Yemen,Asia,13.65,14.20,14.59,14.21,13.57,14.20,13.91,14.26,14.37,14.40
195,Zambia,Africa,7.63,7.71,7.80,7.68,7.70,7.75,7.70,7.66,7.65,7.65
196,Zimbabwe,Africa,7.11,7.11,7.09,7.05,7.07,7.12,7.05,7.08,7.07,7.05

In [99]:
# New df_mean with max values only

df_max = df_total.copy()

def extract_max(value):
    start = value.index('-')+1 
    end = value.index(']')
    max_val = float(value[start:end])
    return max_val

columns_to_process = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

for col in columns_to_process:
    df_max[col] = df_max[col].apply(lambda x: extract_max(x))

df_max

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,Afghanistan,Asia,96.51,92.62,94.02,99.67,93.43,92.67,87.23,85.24,97.15,86.46
3,Albania,Europe,24.69,25.75,24.28,22.19,21.32,21.23,20.18,21.12,21.90,18.21
4,Algeria,Africa,32.39,33.06,35.60,32.32,35.12,34.91,35.92,36.41,35.30,35.29
5,Andorra,Europe,13.43,13.69,12.71,11.93,11.04,11.68,10.71,10.97,10.85,10.05
6,Angola,Africa,65.55,67.99,65.45,68.88,68.30,73.14,80.35,78.84,82.46,89.91
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela (Bolivarian Republic of),America,28.32,27.27,26.76,28.55,26.04,27.06,26.59,25.61,22.84,21.76
193,Viet Nam,Asia,27.87,24.56,25.63,26.61,23.84,24.56,26.83,23.82,23.39,24.31
194,Yemen,Asia,77.63,83.84,87.92,83.75,75.95,84.02,80.68,84.71,85.36,85.18
195,Zambia,Africa,32.11,32.70,33.31,32.52,32.68,32.99,32.70,31.85,31.83,31.61
196,Zimbabwe,Africa,23.48,23.42,23.25,22.78,22.85,23.39,22.78,22.90,22.79,22.70

In [100]:
# Export to .csv

df_mean.to_csv('pm25_mean.csv', index=False)
df_min.to_csv('pm25_min.csv', index=False)
df_max.to_csv('pm25_max.csv', index=False)

In [101]:
# Max values

df_max.max()

Country      occupied Palestinian territory, including east...
Continent                                              Oceania
2010                                                    109.47
2011                                                     110.2
2012                                                    105.26
2013                                                     106.3
2014                                                     99.24
2015                                                    107.87
2016                                                    106.98
2017                                                    106.83
2018                                                    101.54
2019                                                    102.37
dtype: object

In [105]:
df_min.min()

Country      Afghanistan
Continent         Africa
2010                2.34
2011                2.64
2012                2.64
2013                2.48
2014                2.67
2015                2.79
2016                2.61
2017                2.56
2018                2.52
2019                2.59
dtype: object

### Safe levels of pm2.5 = 10

Find countries which are above and below these safe levels

In [90]:
# Below safe levels in 2019

countries_below_10 = df_mean[df_mean['2019'].astype(float) < 10]

countries_below_10

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
5,Andorra,Europe,11.43,11.66,10.80,10.15,9.35,9.94,9.06,9.31,9.21,8.52
7,Antigua and Barbuda,America,8.17,7.79,8.20,8.05,8.50,8.89,8.95,9.27,8.87,8.30
10,Australia,Oceania,9.03,8.08,7.31,7.26,6.91,6.60,6.67,6.89,7.11,8.93
13,Bahamas,America,4.97,4.92,5.28,5.08,5.32,5.32,5.56,5.80,5.61,5.20
16,Barbados,America,9.15,9.04,9.60,9.32,9.95,10.53,10.34,10.91,10.36,9.79
26,Brunei Darussalam,Asia,8.33,8.42,7.62,8.08,8.02,7.81,7.91,7.03,6.70,6.86
33,Canada,America,7.76,7.87,7.71,7.41,7.29,7.15,6.31,6.90,7.09,6.39
41,Cook Islands,Oceania,7.46,7.30,7.43,7.44,7.36,7.45,7.62,7.60,7.76,7.80
50,Denmark,Europe,12.27,12.98,11.44,10.97,10.39,10.73,9.78,9.97,10.02,9.66
52,Dominica,America,7.86,7.70,8.12,7.89,8.36,8.81,8.88,9.23,8.75,8.22
53,Dominican Republic,America,7.52,7.04,7.46,7.22,7.70,7.87,8.02,8.32,8.00,7.59
59,Estonia,Europe,8.47,7.65,7.38,7.63,7.85,6.75,6.20,5.90,6.70,6.35
62,Fiji,Oceania,7.19,7.04,7.10,7.12,7.23,7.32,7.39,7.45,7.52,7.36
63,Finland,Europe,7.07,7.03,6.33,6.20,5.77,5.83,5.39,5.37,5.57,5.47
76,Haiti,America,9.56,9.05,9.61,9.37,9.92,10.14,10.36,10.61,10.23,9.69
79,Iceland,Europe,6.91,7.46,6.64,6.39,6.03,6.43,5.69,5.75,5.89,5.79
84,Ireland,Europe,9.90,10.60,9.43,9.33,8.74,9.16,8.08,8.13,8.31,8.20
92,Kiribati,Oceania,7.60,7.62,7.54,7.55,7.33,7.31,7.64,7.63,7.67,7.62
102,Luxembourg,Europe,12.38,12.63,11.32,11.03,10.27,10.45,9.75,9.84,9.71,8.89
109,Marshall Islands,Oceania,7.27,7.07,7.12,7.21,6.97,7.10,7.27,7.15,7.14,7.21
113,Micronesia (Federated States of),Oceania,7.55,7.35,7.46,7.64,7.37,7.65,7.73,7.62,7.63,7.79
114,Monaco,Europe,11.91,12.37,11.16,10.77,9.97,10.41,9.53,9.63,9.88,9.21
121,Nauru,Oceania,7.50,7.58,7.40,7.37,7.18,7.28,7.33,7.45,7.59,7.40
124,New Zealand,Oceania,9.35,8.54,7.67,7.51,7.19,6.94,6.91,7.14,7.45,8.61
128,Niue,Oceania,6.44,6.34,6.43,6.41,6.52,6.53,6.75,6.64,6.73,6.74
129,Norway,Europe,7.86,8.32,7.33,7.13,6.62,6.82,6.33,6.36,6.33,6.30
133,Palau,Oceania,7.23,7.61,7.78,7.77,7.76,8.02,7.59,7.50,7.77,7.82
135,Papua New Guinea,Oceania,8.65,8.28,8.39,8.39,8.39,8.97,8.69,8.87,8.93,8.89
140,Portugal,Europe,10.55,10.68,9.43,9.44,7.90,8.68,8.42,9.04,7.90,7.34
146,Russian Federation,Europe,11.88,10.53,10.22,10.46,10.80,9.49,8.71,8.38,9.22,8.88
148,Saint Kitts and Nevis,America,7.93,7.53,7.91,7.75,8.22,8.59,8.66,8.97,8.59,8.05
149,Saint Lucia,America,8.43,8.34,8.81,8.55,9.10,9.62,9.56,10.03,9.51,8.98
150,Saint Vincent and the Grenadines,America,8.85,8.75,9.23,8.97,9.55,10.09,10.05,10.50,9.94,9.41
151,Samoa,Oceania,7.40,7.48,7.56,7.64,7.55,7.76,7.62,7.67,7.77,7.78
152,San Marino,Europe,13.02,13.44,12.12,11.72,11.00,11.42,10.33,10.55,10.81,9.85
162,Solomon Islands,Oceania,7.42,7.37,7.43,7.54,7.62,7.86,7.76,7.80,7.95,7.83
166,Spain,Europe,12.72,13.09,11.83,11.22,10.31,11.11,10.04,10.21,10.08,9.34
170,Sweden,Europe,7.52,7.76,6.90,6.61,6.30,6.37,5.88,5.93,6.09,5.96
171,Switzerland,Europe,12.76,13.00,11.74,11.38,10.51,10.82,9.99,9.89,10.01,8.97
177,Tonga,Oceania,7.14,7.05,7.10,7.09,7.20,7.26,7.40,7.38,7.47,7.52
182,Tuvalu,Oceania,6.76,6.95,6.87,6.81,6.78,6.95,6.70,6.85,6.94,6.81
186,United Kingdom of Great Britain and Northern I...,Europe,13.17,13.41,12.14,11.82,10.95,11.08,10.19,10.09,10.07,9.52
188,United States of America,America,9.29,9.36,9.07,8.75,8.62,8.31,7.54,7.96,8.13,7.18
189,Uruguay,America,9.18,9.20,9.03,9.72,9.52,9.90,9.75,9.27,8.82,8.48
191,Vanuatu,Oceania,8.09,8.23,8.19,8.31,8.36,8.62,8.66,8.62,8.81,8.42

In [91]:
grouped_counts = df_mean['2019'].astype(float).apply(lambda x: 'Above 10' if x > 10 else 'Below 10').value_counts()

grouped_counts

2019
Above 10    150
Below 10     45
Name: count, dtype: int64

In [92]:
# Check for no null values and continent assigned to all countries
df_mean.notna().sum()

Country      195
Continent    195
2010         195
2011         195
2012         195
2013         195
2014         195
2015         195
2016         195
2017         195
2018         195
2019         195
dtype: int64

In [93]:
# Exporting to clean csv
# df_total.to_csv('mean_pm25.csv', index=False)